<head>
<h1>デフォルト</h1>
</head>
<body>
<input type="text" name="daterange" id="daterange" value="03/18/2013 - 03/23/2013" />
</body>
<script>
$(function() {
    $("#daterange").daterangepicker();
});
</script>
